@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap");
* {
  font-family: "Noto Serif KR", serif;
}

td {
  border: 1px solid rgb(159, 255, 115);
}

h3 {
  text-align: center;
}

/* 속성을 이용한 선택자 */
input,
select {
  padding: 4px;
  border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: red;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 70%;
}
input[type="number"] {
  width: 15%;
}

td:nth-child(1) {
  text-align: center;
  font-weight: bold;
  color: rgb(21, 189, 255);
}
